<!DOCTYPE html>
<html>
<head>
  <title>Listnepal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script language="text/javascript">
    Ajaxify.init();
    Ajaxify.set_content_container('main');
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
<div class="container">
<%= render partial: "layouts/flash_messages", flash: flash %> 
  <h2>Welome <small>
    <% if user_signed_in? %>
      <%= current_user.email %>
    <% else %>
       Guest
    <% end %>
      </small></h2>
  <div id="main">
    <%= yield %>
  </div>
  
</div>
</body>
</html>
